/*
    トップページ用 スタイル定義
    作成: kanato-shimabukuro
*/

@charset "utf-8";

main {
    article {
        .news {
            width: 100%; height: 10rem;

            display: flex; justify-content: center; align-items: center;

            background-color: #34221c; color: #fff;

            div {
                display: flex; align-items: center;

                gap: 1rem;

                h1 {
                    font-size: 1rem;
                }

                h2 {
                    font-size: 0.5rem;

                    opacity: 0.5;
                }

                p {
                    margin-top: 0.5rem;

                    font-size: 0.75rem;
                }
            }

            .mdi {
                margin: 0 2rem;

                font-size: 2rem;

                cursor: pointer;
            }
        }

        .best_seller {
            margin: 1rem; padding: 1rem;

            display: flex; flex-direction: column;

            gap: 0.75rem;

            background-color: #fff;

            box-shadow: 0 0 10rem 0rem #00000040;

            border-radius: 1rem;

            h1 {
                font-size: 1rem;
            }

            div {
                display: flex;

                gap: 1rem;

                div {
                    display: flex; flex-direction: column;

                    width: fit-content;

                    padding: 1rem;

                    gap: 0.25rem;

                    background-color: #fdd000;

                    border-radius: 0.5rem;

                    h1 {
                        font-size: 0.75rem;
                    }

                    h2 {
                        font-size: 0.5rem;

                        opacity: 0.5;
                    }
                }
            }
        }
    }

    @media (width > 900px) {
        article {
            .best_seller {
                margin-left: 10rem;
                margin-right: 10rem;
            }
        }
    }
}